<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
<link rel="stylesheet" href="/machine_learning/assets/css/custom.css" />
</head>
<body>
   <h1>{{ page.title }}</h1>
  {{ content }}
<footer class="license" style="font-size:0.85em; color:#666; margin-top:40px; border-top:1px solid #eee; padding-top:10px; text-align:left;">
  © 2025 Mireia Consarnau
   <br/>
  Este curso se distribuye bajo la licencia
  <a href="/machine_learning/LICENSE.md">Creative Commons BY-NC-ND 4.0</a>
  <br/>
  <img src="https://licensebuttons.net/l/by-nc-nd/4.0/88x31.png" alt="Licencia CC BY-NC-ND 4.0" />
</footer>
</body>
</html>
